<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Unidade</title>
</head>
<body>
  <h1 layout:fragment="titulo">Cadastro de Unidades</h1>
  <div layout:fragment="botao">
    <a class="btn btn-primary" th:href="@{unidade/formulario}" role="button"><i class="fas fa-plus"></i> Novo</a>
  </div>

  <section layout:fragment="conteudo">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Município</th>
          <th>Unidade Federativa</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="unidade : ${page.content}">
          <td th:text="${unidade.id}"></td>
          <td th:text="${unidade.descricao}"></td>
          <td th:text="${unidade.sigla}"></td>
          <td class="text-center">
            <a class="btn btn-sm" th:href="@{unidade/formulario(id=${unidade.id})}">
              <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-sm" data-toggle="modal" data-target="#modal-delete" th:attr="data-id=${unidade.id}, data-url=@{unidade/remover/}">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div th:replace="~{fragments/_paginacao}"></div>
    <div th:replace="~{fragments/_modal-delete}"></div>

  </section>

</body>
</html>