<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>início</title>
</head>
<body>
  <section layout:fragment="conteudo">
    <div class="row">
    
      <div class="error-page">
        <h2 class="headline text-danger">500</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-danger"></i> Falha na comunicação com o servidor </h3>

          <p>
           Vamos trabalhar para consertar isso imediatamente.
            Enquanto isso, você pode <a href="/">voltar ao painel principal</a> 
          </p>

          
        </div>
      </div>
      <!-- /.error-page -->

   
    </div>
  </section>
</body>
</html>